body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fbfd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 5px;
  border: 1px dotted rgba(190, 190, 190, 0.5);
  margin-top: 10px;
}

header {
  background-color: white;
  box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 800px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: column;
}
.title {
  flex-basis: auto;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
}
.cart-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-icon {
  font-size: 1.5rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #e62121;
  padding: 0 4px;
  border-radius: 15%;
  color: #ffffff;
}

.cart {
}

header .wrapper h1,
header .wrapper h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header .wrapper h2 {
  left: 125px;
}

.container {
  margin-top: 0.8em;
}

/*#FF813F*/

section.table-view-control,
section.products,
section.cart {
  max-width: 800px;
  margin: 0 auto;
}

section.table-view-control,
section.products {
  margin: 24px auto 12px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5);
  /* border-radius: 8px; */
}

section.table-view-control {
  padding: 12px;
}

section.table-view-control > div,
section.table-view-control .filters > div {
  margin-bottom: 24px;
}

section.products > ul {
  padding: 0;
}

section.products > ul > li > ul {
  display: flex;

  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  padding: 12px 12px 12px 12px;
}

section.products > ul > li > ul > li:first-child {
  width: 200px;
}

section.products > ul > li:nth-child(odd) {
  background-color: #f0f0f0;
}

section.products li div,
section.products li button {
  margin-right: 12px;
  width: 100px;
}

section.products li .name {
  width: 200px;
}

section.cart {
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 300px;
  height: 200px;
  background-color: white;
  overflow-y: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 12px;
  border-radius: 8px;
}

.section.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
section.cart {
  position: fixed;
  top: 200px;
  right: 0;
  width: 400px;
  height: 400px;
  transition: all 0.3s linear;
  background-color: white;
  overflow: auto;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
  padding: 10px;
  /* border-radius: 8px; */
  z-index: 4;
  transform: translateX(100%);
}
.section.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.section.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
.c-item {
  display: flex;
  font-size: 1em;
}
section.cart ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section.cart ul > li {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

section.cart ul > li:nth-child(odd) {
  background-color: #f0f0f0;
}
