:root {
  --primaryColor: #3777e4;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fbfd;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 5px;
  border: 1px dotted rgba(190, 190, 190, 0.5);
  margin-top: 10px;
}

header {
  background-color: white;
  box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 800px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: column;
}
.title {
  flex-basis: auto;
}
.grid-container {
  display: grid;
  grid-auto-flow: row;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.cart-icon {
  display: inline;
}
.nav-icon {
  font-size: 1.5rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -12px;
  right: -12px;
  background: #1c64b1;
  padding: 0 6px;
  border-radius: 20%;
  color: #ffffff;
  font-weight: bolder;
}

.cart {
}

header .wrapper h1,
header .wrapper h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header .wrapper h2 {
  left: 125px;
}

.container {
  margin-top: 0.8em;
}

/*#FF813F*/

section.table-view-control,
section.cart {
  max-width: 800px;
  margin: 0 auto;
}

section.table-view-control {
  margin: 24px auto 12px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5);
  /* border-radius: 8px; */
}
section.products {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
section h2 {
  grid-column: 1 / -1;
  text-align: center;
}
section.table-view-control {
  padding: 12px;
}

section.table-view-control > div,
section.table-view-control .filters > div {
  margin-bottom: 24px;
}

/*
section.products > ul {
  padding: 0;
}

section.products > ul > li > ul {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  padding: 12px 12px 12px 12px;
}

section.products > ul > li > ul > li:first-child {
  width: 200px;
}

section.products > ul > li:nth-child(odd) {
  background-color: #f0f0f0;
}

section.products li div,
section.products li button {
  margin-right: 12px;
  width: 100px;
}

section.products li .name {
  width: 200px;
}
*/
section.cart {
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 300px;
  height: 200px;
  background-color: white;
  overflow-y: auto;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
  padding: 12px;
  border-radius: 8px;
}

.section.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
section.cart {
  position: fixed;
  top: 200px;
  right: 0;
  width: 400px;
  height: 400px;
  transition: all 0.3s linear;
  background-color: white;
  overflow: auto;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
  padding: 10px;
  /* border-radius: 8px; */
  z-index: 4;
  transform: translateX(100%);
}
.section.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.section.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
.c-item {
  display: flex;
  font-size: 1em;
}
section.cart ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section.cart ul > li {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

section.cart ul > li:nth-child(odd) {
  background-color: #f0f0f0;
}

/* product */
.products {
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
}
.products-center {
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: rgb(25, 129, 220);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  transform: translateX(101%);
  cursor: pointer;
}

.bag-btn:hover {
  color: #ffffff;
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  /* width: 100%; */
  /* min-height: 12rem; */
  transition: all 0.3s linear;
  object-fit: cover;
  width: 200px;
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  color: #333333;
  text-align: center;
}
/* end of product */
