
.mainCanvas {
    width: 400px;
    height: 300px;
    border: solid 1px gray;
}
/* .mainCanvasWide {
    width: 1200px;
    height: 800px;
    animation: ease-out;
} */
#btnWide {
    background: hotpink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    border: hotpink solid 1px;
    cursor: pointer;
}