.App {
  text-align: center;
  display: grid;
  justify-content: center;
  font-family: sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34ad;
  min-height: 10vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.content {
  display: grid;
  justify-content: center;
  width: 100vw;
  background-color: lemonchiffon;
  border: lightcoral 1px solid;
  padding-bottom: 10vh;
}
ul {
  margin: 0;
  padding: 0;
  display: grid
}
li {
  list-style: none;
  font-size: medium;
  color: black;
  margin-left: inherit;
  text-transform: capitalize;
  padding: 0.5em;
  flex: 1 1 auto;
  border: solid 1px;
}


.list-items {
  width: 80vw;
  text-align: left;
}

.list-items li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.15em;
}
.addTodo {
width: 100px;
margin: 1em auto;
padding: .3em;
}

div {
  flex: 0 1 auto;
}

.list-titles li:nth-child(3) {
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
}

.todoItem {
  text-align: left;
}
.item1 {
  grid-area: 1/2/1/2;
}
.item2 {
  grid-area: 2/2/2/2;
}
.item3 {
  grid-area: 3/2/3/2;
}
.item4 {
  grid-area: 4/2/4/2;
}
.item5 {
  grid-area: 5/2/5/2;
}
.item6 {
  grid-area: 6/2/6/2;
}
